<sc-app-spinner [loading]="loading"></sc-app-spinner>
<div class="content">
    <p class="page-description">
        {{ 'MY_PROFILE.DESCRIPTION' | translate }}
    </p>
    <div fxLayout="row" fxLayoutAlign="start stretch">
        <div class="profile-card" fxFlex="auto" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-card>
                <mat-card-title style="margin-bottom: 6px; font-weight: 500">
                    {{ userProfile.FirstName }} {{ userProfile.LastName }}
                </mat-card-title>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="auto" class="row-wrapper">
                            <p fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start center">
                                <mat-icon>email</mat-icon>
                                <span class="text-wrapper">{{ userProfile.Email }}</span>
                                <button *ngIf="!appState.get('verified')" type="button" mat-button color="warn"
                                        (click)="verifyEmail()" style="margin-left: 16px">
                                    <mat-icon>error</mat-icon>
                                    {{ 'MY_PROFILE.VERIFY_EMAIL' | translate }}
                                </button>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>phone</mat-icon>
                                <span>{{ userProfile.Phone }}</span>
                            </p>
                            <div
                                *ngIf="userProfile.Address || userProfile.City || userProfile.State || userProfile.ZipCode"
                                fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>location_on</mat-icon>
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <p *ngIf="userProfile.Address" class="text-wrapper" style="margin: 0">
                                        {{ userProfile.Address }}
                                    </p>
                                    <p *ngIf="userProfile.City || userProfile.State || userProfile.ZipCode"
                                       style="margin: 8px 0 0 0">
                                        {{ userProfile.City }}, {{ userProfile.State }} - {{ userProfile.ZipCode }}
                                    </p>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 20px">
                                <mat-icon>lock</mat-icon>
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <p style="margin: 0">
                                        {{ 'MY_PROFILE.SECURITY_QUESTION' | translate }}:
                                        {{ userProfile.ReminderQuestion }}
                                    </p>
                                    <p style="margin: 8px 0 0 0">
                                        {{ 'MY_PROFILE.SECURITY_ANSWER' | translate }}:
                                        {{ userProfile.EncryptedAnswer }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button type="button" mat-icon-button color="accent" fxFlex="none" aria-label="Edit Profile"
                                (click)="editProfile()" matTooltip="{{ 'MY_PROFILE.EDIT_PROFILE.TITLE' | translate }}"
                                matTooltipPosition="left">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <hr/>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="row-wrapper" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>account_box</mat-icon>
                            <span>
                                {{ 'COMMON.USERNAME' | translate }}:
                                <span class="bold text-wrapper">{{ userProfile.UserName }}</span>
                            </span>
                        </div>
                        <button type="button" mat-icon-button color="accent" fxFlex="none" aria-label="Change Username"
                                (click)="changeUsername()"
                                matTooltip="{{ 'MY_PROFILE.CHANGE_USERNAME.TITLE' | translate }}"
                                matTooltipPosition="left">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <hr/>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="row-wrapper" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>stars</mat-icon>
                            <span>
                                {{ 'COMMON.PASSWORD' | translate }}:
                                <span class="bold">********</span>
                            </span>
                        </div>
                        <button type="button" mat-icon-button color="accent" fxFlex="none" aria-label="Change Password"
                                (click)="changePassword()"
                                matTooltip="{{ 'MY_PROFILE.CHANGE_PASSWORD.TITLE' | translate }}"
                                matTooltipPosition="left">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <ng-container *ngIf="appState.get('accessLevel') !== '4'">
                        <hr/>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="row-wrapper" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>account_balance</mat-icon>
                                <span>
                                    {{ 'COMMON.SCHOOL_DISTRICT' | translate }}:
                                    <span class="bold">{{ userProfile.DistrictName }}</span>
                                </span>
                            </div>
                            <button *ngIf="appState.get('accessLevel') == '2'" type="button" mat-icon-button
                                    color="accent" fxFlex="none" aria-label="Change My District"
                                    (click)="changeDistrict()"
                                    matTooltip="{{ 'MY_PROFILE.CHANGE_DISTRICT.TITLE' | translate }}"
                                    matTooltipPosition="left">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-container *ngIf="!environment.web">
        <br/>
        <mat-card class="notifications-card">
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{ 'MY_PROFILE.NOTIFICATIONS.TITLE' | translate }}</span>
                <mat-slide-toggle
                    color="accent"
                    [checked]="enablePushNotifications"
                    (change)="togglePushNotifications($event)"
                    [disabled]="isNotificationsDisabled">
                </mat-slide-toggle>
            </mat-card-title>
            <mat-card-content>
                <sc-dialog-loader [loading]="isNotificationsLoading"></sc-dialog-loader>
                <div>
                    <mat-slide-toggle
                        color="accent" labelPosition="after"
                        [checked]="pushNotificationSettings.SendLowBalanceAlerts"
                        (change)="updatePushNotificationSettings($event, 'SendLowBalanceAlerts')"
                        [disabled]="isNotificationsDisabled">
                        {{ 'MY_PROFILE.NOTIFICATIONS.LOW_BALANCE' | translate }}
                    </mat-slide-toggle>
                </div>
                <!--<div>-->
                <!--<mat-slide-toggle-->
                <!--color="accent" labelPosition="after"-->
                <!--[checked]="pushNotificationSettings.SendMessageAlerts"-->
                <!--(change)="updatePushNotificationSettings($event, 'SendMessageAlerts')"-->
                <!--[disabled]="isNotificationsDisabled || isNotificationsLoading">-->
                <!--{{ 'MY_PROFILE.NOTIFICATIONS.MESSAGE' | translate }}-->
                <!--</mat-slide-toggle>-->
                <!--</div>-->
                <div *ngIf="!isStudent">
                    <mat-slide-toggle
                        color="accent" labelPosition="after"
                        [checked]="pushNotificationSettings.SendAutoPayAlerts"
                        (change)="updatePushNotificationSettings($event, 'SendAutoPayAlerts')"
                        [disabled]="isNotificationsDisabled">
                        {{ 'MY_PROFILE.NOTIFICATIONS.AUTO_PAY' | translate }}
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle
                        color="accent" labelPosition="after"
                        [checked]="pushNotificationSettings.SendFavoriteAlerts"
                        (change)="updatePushNotificationSettings($event,'SendFavoriteAlerts')"
                        [disabled]="isNotificationsDisabled">
                        {{ 'MY_PROFILE.NOTIFICATIONS.FAVORITE' | translate }}
                    </mat-slide-toggle>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <br/>
    <div *ngIf="!isSuperAdmin" fxLayout="column" fxLayoutAlign="start start"
         fxLayoutAlign.xs="start center" fxLayoutGap="12px">
        <div *ngIf="showAccountCnt">
            <button *ngIf="studentConnected" type="button" mat-stroked-button (click)="addStudent()">
                {{ 'COMMON.CONNECT.CONNECT_MYCAFETERIA' | translate }}
            </button>
            <button *ngIf="!studentConnected" type="button" mat-stroked-button (click)="disconnectStudentAccount()">
                {{ 'MY_PROFILE.DISCONNECT.DISCONNECT_TITLE' | translate }}
            </button>
        </div>
        <button type="button" mat-stroked-button (click)="deactivateAccount()">
            {{ 'MY_PROFILE.DEACTIVATE.TITLE' | translate }}
        </button>
    </div>
</div>
