@import '../../styles/colors';
@import '../../styles/variables';

.profile-card {
  min-width: 280px;
  max-width: 1440px;
}

.profile-card .mat-icon {
  opacity: .76;
}

.actions-card {
  min-width: 190px;
  max-width: 360px;
}

.mat-form-field {
  display: block;
}

.row-wrapper {
  max-width: calc(100vw - 72px);
  overflow: hidden;
}

.text-wrapper {
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.notifications-card {
  min-width: 280px;
  max-width: 1440px;
}

.notifications-card .mat-card-title {
  font-size: 18px;
  font-weight: 500;
}

.notifications-card mat-card-content > div {
  margin: 12px 0;
}
